
body {

    margin: 0;
    padding: 0;

}

.Query {

    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 1.5rem;
    vertical-align: middle;

}

.Header {
    
    display: flex;
    justify-content: center;
    text-align: center;

}

#query {

    font-family: monospace;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 40rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    text-align: center;

}

#title {

    font-family: monospace;
    font-size: 5rem;
    padding-top: 15rem;

}